/* General App container */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFE8D6 ;
}

/* Header styling for a news website */
.App-header {
  background-color: #002b5c; 
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh; 
}

/* Navigation bar links */
.App-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
}

.App-link:hover {
  color: #f0a500; 
}

.App-logo {
  width: 150px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
 
  .App-header {
    font-size: calc(8px + 2vmin);
    padding: 10px;
  }
}
